{% extends 'layout.html' %}
{% block body_content %}

    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.h_id.label }}
            {{ form.h_id }}
            {% if form.h_id.errors %}
                <div class="error">
                    {% for error in form.h_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}