{% extends 'layout.html' %}
{% block body_content %}
<a href="{{ url_for('home') }}">Home Page</a>
<br>
    <div class='form'>
        <form method='POST' action=''>
            {% for hob in hobby %}
    <div>
        <span><i>Plan no: {{ hob.plans.l_id }} {{ hob.name }} is going to {{ hob.plans.l_name }}, {{ hob.h_name }} during the time of {{ hob.plans.time }}</i></span>
    </div>
    {% endfor %}
            <br>
            <br>
            {{ form.hidden_tag() }}
            {{ form.h_id.label }}
            {{ form.h_id }}
            {% if form.h_id.errors %}
                <div class="error">
                    {% for error in form.h_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}